.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.background {
  z-index: 1;
  position: relative;
}

.background-audio {
  position: fixed;
  bottom: 15vh;
  left: 7vw;
  z-index: 2;
}
